html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

div {
    left: 30px;
    top: 30px;
    position: absolute;
    z-index: 1000;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gameover {
    display: none;
    height: 100px;
    width: 1000px;
    position: absolute;
    font-size: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.timer {
    position: fixed;
    right: 10px;
    font-size: 20px;
}
